<!DOCTYPE html>
<html>
<head>
    <title>PolyLib</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <style>
        .navbar {
            width: 100%;
        }
        .row{
            width: 100%;
            margin-top: 20px;
            margin-left: 2px;
        }
        
        .input{
            width: 390px;
            height: 40px;
            padding-left: 10px;
            margin-top: 10px;
            border-radius: 10px;
            border: none;
            background-color: white;
        }
        .inputBiography{
            width: 390px;
            height: 150px;
            padding-left: 10px;
            margin-top: 10px;
            border-radius: 10px;
            border: none;
            background-color: white;
        }
        #choose{
            width: 130px;
            margin-top: 20px;
            
        }
        #push{
            width: 300px;
            height: 40px;
            margin-left: 45px;
            border: none;
            border-radius: 10px;
            background-color: orange;
            color: white;
            
        }
        #push:hover{
            background-color: orangered;
        }
        .hiddenImage {
            display: none;
        }
        .hiddenImageAdd {
            display: none;
        }

        .visibleImage {
            display: block;
        }
        .visibleImageAdd {
            display: block;
        }
        /* Tùy chỉnh giao diện của trường nhập tên file */
        .custom-file-input::-webkit-file-upload-button {
            background: orange;
            color: #fff;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            border-radius: 10px;
            
        }
        .ListAuthor{
            grid-area: ListAuthor;
            width: 100%;
            display: grid;
            grid-template-columns: 2fr 2fr 2fr 2fr;
            padding: 10px;
            border-radius: 10px;
        }
        .itemAuthor{
            width: 200px;
            height: 270px;
            background-color: #e0dfdf;
            margin-bottom: 10px;
            border-radius: 10px;
            margin-right: 10px;
        }
        .itemTextFullName{
            margin-left: 5px;
            font-weight: bold;
        }
        .imgAuthor{
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            width: 100%; height: 60%;
            object-fit: cover;margin-bottom: 5px
        }
        .itemText{
            margin-left: 5px;
        }
        .alert-dialog {
            /* Thêm các thuộc tính CSS cho dialog */
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            border: 1px solid #ccc;
            width: 50%;
            max-height: 80%;
            overflow-y: auto; /* Hiển thị thanh cuộn khi nội dung vượt quá kích thước */
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            z-index: 1000;
            border-radius: 5px;
        }
        .head-wrapper{
            width: 100%;
            height: 40px;
            padding-top: 5px;
            border-bottom: 1px solid gray;
        }
        .text-title-head{
            font-size: 22px;
            text-align: center;
            margin-left: 280px;
            color: orangered;
            font-family: "Barlow Condensed";

        }

        .alert-dialog-content {
            margin-bottom: 10px;
        }
        .alert-dialog-fullName {
            font-weight: bold;
        }
        .alert-dialog-birthday {
            font-style: italic;
        }
        .alert-dialog-biography {
            font-style: italic;
            margin-top: 10px;
            margin-left: 20px;

        }

        .alert-dialog-nationality {
            font-style: italic;

        }

        .alert-dialog-image{
            width: 180px;
            height: 200px;
            margin-top: 20px;

        }
        .close-button{
            color: white;
            width: 30px;
            height: 30px;
            border-radius: 25px;
            border: none;
            float: left;
            background-color: orange;
            margin-bottom: 20px;

        }
        .close-button:hover{
            background-color: orangered;
        }
        .content{
            width: 55%;
            float: right;
            margin-top: 20px;
            margin-right: 110px;
        }
        .buttons{
            float: right;
        }
        .button{
            width: 80px;
            background-color: orange;
            margin: 5px;
            border-radius: 5px;
            border: none;
            color: white;
            padding-bottom: 5px;
        }
        .button:hover{
            background-color: orangered;
        }

        
    </style>
</head>
<body class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a style="font-size: 20px; font-weight: bold" class="navbar-brand" href="/index">Trang chủ</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/author">Tác giả</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/comic">Truyện tranh</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user">Người dùng</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Tài khoản
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/">Đổi mật khẩu</a></li>
                      <li><a class="dropdown-item" href="/index/logout">Đăng xuất</a></li>
                    </ul>
                  </li>
            </ul>
        </div>
    </div>
</nav>
<div class="row">
    <div class="col-md-4" style="height: 1050px;border-right: 1px solid gray;">
        <div style="background-color: #F8F9FA; border-radius: 10px; width: 410px; padding: 10px;">
            <h5 style="margin-top: 10px;margin-bottom: 10px;text-align: center;">Thêm tác giả</h5>
            <form action="author/addAuthor" method="post" enctype="multipart/form-data" onsubmit="return validateAndRedirect('add')">
                <input class="input" id="inputFullname" name="fullName" type="text" placeholder="Enter full name...">
                <input class="input" id="inputBirthday" name="birthday" type="date" placeholder="Enter birthday...">
                <input class="input" id="inputNationality"  name="nationality" type="text" placeholder="Enter nationality...">
                <textarea class="inputBiography" id="inputBiography" name="biography" placeholder="Enter biography..." rows="4"></textarea> 
                <input type="file" id="choose" name="imageAuthor" multiple onchange="addImage(this)" class="custom-file-input" style="color: transparent; background: transparent;">
                <img class="hiddenImageAdd" style="width: 110px;height: 120px; margin-top: 10px;margin-left: 5px;" id="ImageAdd" src="" alt="Current Image">
                <br><br>
                <input id="push" type="submit" value="Save" >
            </form>
        </div>
        <div style="background-color: #F8F9FA; border-radius: 10px; width: 410px; padding: 10px;margin-top: 20px;">
            <h5 style="margin-top: 10px;margin-bottom: 10px;text-align: center;">Cập nhật tác giả</h5>
            <form action="author/updateAuthor" method="post" enctype="multipart/form-data" onsubmit="return validateAndRedirect('update')">
                <input class="input" id="inputID_Update" name="_id" type="hidden">
                <input class="input" id="inputFullname_Update" name="fullName" type="text" placeholder="Enter full name...">
                <input class="input" id="inputBirthday_Update" name="birthday" type="date" placeholder="Enter birthday...">
                <input class="input" id="inputNationality_Update"  name="nationality" type="text" placeholder="Enter nationality...">
                <textarea class="inputBiography" id="inputBiography_Update" name="biography" placeholder="Enter biography..." rows="4"></textarea> 
                <input type="file" id="choose" name="imageAuthor" multiple  onchange="updateCurrentImage(this)" class="custom-file-input" style="color: transparent; background: transparent;">
                <img class="hiddenImage" style="width: 110px;height: 120px; margin-top: 10px;margin-left: 5px" id="currentImage" src="" alt="Current Image">
                <br><br>
                <input id="push" type="submit" value="Save" >
            </form>
        </div>
        
    </div>
    <div class="col-md-8" style="height: 600px;">
        <h5>Danh sách tác giả</h5>
        <div class="ListAuthor" >
            <% dataAuthor.forEach((author) => { %>
            <div class="itemAuthor">
                <img class="imgAuthor" src="<%= author.image %>">
                <em class="itemTextFullName"><%= author.fullName %></em>
                <br>
                <em class="itemText">Quốc tịch: <%= author.nationality %></em>
                    <button style="margin-left: 5px; margin-top: 5px; width: 95%" type="button" class="btn btn-warning" type="button" class="btn btn-warning" onclick="openAlertDialog(
                        <%= JSON.stringify(author)%>)">Details</button>
            </div>
                <% }) %>
        </div>

    </div>
</div>

</body>
<script>
   function loadItemData(author) {
        // Lấy các trường input
        var input_id = document.getElementById('inputID_Update');
        var fullName = document.getElementById('inputFullname_Update');
        var birthday = document.getElementById('inputBirthday_Update');
        var nationality = document.getElementById('inputNationality_Update');
        var biography = document.getElementById('inputBiography_Update');
        var currentImage = document.getElementById('currentImage');

        // Gán dữ liệu của member vào các trường input
        input_id.value = author._id;
        fullName.value = author.fullName;
        nationality.value = author.nationality;
        biography.value = author.biography;
        currentImage.src = author.image;

        if (author.birthday) {
            // Chuyển đổi từ chuỗi ISO 8601 sang định dạng yyyy-MM-dd
            var date = new Date(author.birthday);
            var formattedDate = date.toISOString().substring(0, 10);
            birthday.value = formattedDate;
        } else {
            birthday.value = ''; // Đặt giá trị rỗng nếu không có ngày sinh
        }
        if (author.image) {
            currentImage.classList.remove('hiddenImage');
            currentImage.classList.add('visibleImage');
            currentImage.src = author.image;
        } else {
            currentImage.classList.remove('visibleImage');
            currentImage.classList.add('hiddenImage');
        }
    }
    function updateCurrentImage(input) {
        var currentImage = document.getElementById('currentImage');
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                currentImage.src = e.target.result;
                currentImage.classList.remove('hiddenImage');
                currentImage.classList.add('visibleImage');
            };
            reader.readAsDataURL(input.files[0]);
        } else {
            currentImage.classList.remove('visibleImage');
            currentImage.classList.add('hiddenImage');
        }
    }
    function addImage(input) {
        var ImageAdd = document.getElementById('ImageAdd');

        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                ImageAdd.src = e.target.result;
                ImageAdd.classList.remove('hiddenImageAdd');
                ImageAdd.classList.add('visibleImageAdd');
            };
            reader.readAsDataURL(input.files[0]);
        } else {
            ImageAdd.classList.remove('visibleImageAdd');
            ImageAdd.classList.add('hiddenImageAdd');
        }
    }

    function openAlertDialog(author) {
        const alertDialog = document.createElement('div');
        alertDialog.classList.add('alert-dialog');

        const headWrapper = document.createElement('div');
        headWrapper.classList.add('head-wrapper');


        const textTitleHead = document.createElement('span')
        textTitleHead.classList.add('text-title-head');
        textTitleHead.textContent = 'Thông Tin Tác giả';
        const closeButton = document.createElement('button');
        closeButton.classList.add('close-button');
        closeButton.textContent = 'X';
        closeButton.addEventListener('click', closeAlertDialog);

        // Tạo div lớn bao quanh các phần tử
        const contentWrapper = document.createElement('div');
        contentWrapper.classList.add('content-wrapper');

        const content = document.createElement('div');
        content.classList.add('content');

        const buttons = document.createElement('div');
        buttons.classList.add('buttons');

        const image = document.createElement('img');
        image.classList.add('alert-dialog-image');
        image.src = `${author.image}`;

        const fullName = document.createElement('div');
        fullName.classList.add('alert-dialog-fullName');
        fullName.textContent = `Tác giả: ${author.fullName}`

        if (author.birthday) {
            // Chuyển đổi từ chuỗi ISO 8601 sang định dạng yyyy-MM-dd
            var date = new Date(author.birthday);
            var day = date.getDate().toString().padStart(2, '0'); // Ngày
            var month = (date.getMonth() + 1).toString().padStart(2, '0'); // Tháng (đánh số từ 0 - 11)
            var year = date.getFullYear(); // Năm
            var formattedDate = `${day}-${month}-${year}`;
        }

        const birthday = document.createElement('div');
        birthday.classList.add('alert-dialog-birthday');
        birthday.textContent = `Ngày sinh: ${formattedDate}`

        const nationality = document.createElement('div');
        nationality.classList.add('alert-dialog-nationality');
        nationality.textContent = `Quốc tịch : ${author.nationality}`

        const introduce = document.createElement('div');
        introduce.classList.add('alert-dialog-biography');
        introduce.textContent = `Giới thiệu : ${author.biography}`

        const deleteButton = document.createElement('button');
        deleteButton.classList.add('button');
        deleteButton.textContent = 'Delete';
        deleteButton.addEventListener('click', () => confirmDelete(author._id));

        const updateButton = document.createElement('button');
        updateButton.classList.add('button');
        updateButton.textContent = 'Update';
        updateButton.addEventListener('click', () =>{
            loadItemData(author);
            closeAlertDialog();
        });


        content.appendChild(fullName);
        content.appendChild(birthday);
        content.appendChild(nationality);

        // Thêm các phần tử vào div lớn
        headWrapper.appendChild(closeButton)
        headWrapper.appendChild(textTitleHead)
        contentWrapper.appendChild(image);
        contentWrapper.appendChild(content);

        buttons.appendChild(deleteButton)
        buttons.appendChild(updateButton)

        alertDialog.appendChild(headWrapper);
        alertDialog.appendChild(contentWrapper);
        alertDialog.appendChild(introduce);
        alertDialog.appendChild(buttons);


        document.body.appendChild(alertDialog);
    }

    function confirmDelete(_id) {
        var result = confirm("Bạn có chắc muốn xóa thành viên này không?");
        if (result) {
            window.location.href = "author/deleteAuthor/?_id=" + _id;
        }
    }

    function closeAlertDialog() {
        const alertDialog = document.querySelector('.alert-dialog');
        if (alertDialog) {
            document.body.removeChild(alertDialog);

        }
    }

    function validateAndRedirect(status) {
        var fullname;
        var birthday;
        var nationality;
        var biography;
        var image;
        if (status==='add'){
            fullName = document.getElementById('inputFullname').value;
            birthday = document.getElementById('inputBirthday').value;
            nationality = document.getElementById('inputNationality').value;
            biography = document.getElementById('inputBiography').value;
            image = document.getElementById('choose').files[0];
            if (fullName.length === 0 || birthday.length === 0 || nationality.length === 0 || biography.length === 0 || !image) {
                alert('Vui lòng điền đầy đủ thông tin và chọn ảnh!');
                return false
            }
        }else if (status==='update') {
            fullName = document.getElementById('inputFullname_Update').value;
            birthday = document.getElementById('inputBirthday_Update').value;
            nationality = document.getElementById('inputNationality_Update').value;
            biography = document.getElementById('inputBiography_Update').value;


            if (fullName.length === 0 || birthday.length === 0 || nationality.length === 0 || biography.length === 0) {
                alert('Vui lòng điền đầy đủ thông tin!');
                return false
            }
        }
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</html>
